<footer>
    <div class="f-info">
        <div class="f-info-socal">
            <a href="https://www.facebook.com/silintsarojkumar"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/silint_saroj_kumar"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://x.com/silintsarojkuma"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
        <div><h5>&copy; Made With ❤️ by Saroj Kumar</h5></div>
        <div class="f-info-link">
            <a href="privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>