<%layout("/layout/homeBoiler.ejs")%>
    
    <div class="home">
        <a href="/room" class="btn btn-outline-success">Start Room</a>
        <h1>Welcome to Watch Together</h1>
        <p>Share videos with friends in real-time.</p>
        <p>To create a room, click the "<a href="/room">Start Room</a>".</p>
        <p>
Your Private Watch Party Awaits! 🎉

Tired of trying to press "play" at the same time? Now you don't have to.

This is your personal space to watch YouTube and Dailymotion videos with friends, family, or anyone you choose. Every room is completely private and accessible only through your unique link.

How it works:

Create a Room: Start your own private session with one click.

Share the Link: Send the unique room link to your friends.

Watch Together: Paste a video link and enjoy watching in sync!

Ready to start? Create your room now!.</p>
    </div>
