<%layout("/layout/boiler.ejs")%>


<!-- Copy Room Link -->


<!-- Switch Camera -->





  <div id="shared-video" class="ytStream card"></div>

  <div ><video id="my-video" autoplay muted></video></div>
  
  <div class="videos">
    <div id="video-grid"></div>
  </div>
</body>
</html>